[submodule "ai-safety-debate"]
	path = ai-safety-debate
	url = https://github.com/ratcht/ai-safety-debate
	branch = main
[submodule "machine-unlearning"]
	path = machine-unlearning
	url = https://github.com/ratcht/machine-unlearning
	branch = main
[submodule "ARENA"]
	path = ARENA
	url = https://github.com/ratcht/ARENA
	branch = main
[submodule "camouflaged-poisoning"]
	path = camouflaged-poisoning
	url = https://github.com/ratcht/camouflaged-poisoning
[submodule "misalignment"]
	path = misalignment
	url = https://github.com/ratcht/misalignment
